<h1 class="my-4 text-xl">Thêm kho hàng</h1>

<form class="space-y-4">
  <div class="flex w-full flex-col">
    <label class="mb-2" for="name">Tên kho</label>
    <input
      class="input-ghost-primary input input-solid"
      placeholder="Tên kho..."
      type="text"
      id="name"
    />
  </div>

  <div class="flex w-full flex-col">
    <label class="mb-2" for="name">Vị trí</label>
    <input
      class="input-ghost-primary input input-solid"
      placeholder="Vị trí kho..."
      type="text"
      id="name"
    />
  </div>

  <div class="mt-4">
    <button type="button" class="btn-primary btn w-fit rounded-lg">Lưu</button>
  </div>
</form>
