<div
  class="mx-auto flex h-screen w-full max-w-sm flex-col items-center justify-center gap-6"
>
  <div class="flex flex-col items-center">
    <h1 class="text-3xl font-semibold">Đăng nhập</h1>
    <p class="text-sm">đăng nhập vào tài khoản quản trị</p>
  </div>
  <form [formGroup]="authForm" (ngSubmit)="submitForm()" class="form-group">
    <div class="form-field">
      <label class="form-label">Địa chỉ email</label>
      <input
        (focus)="clearErrors()"
        placeholder="abc@gmail.com"
        type="email"
        formControlName="email"
        class="input-ghost-primary input max-w-full"
      />
    </div>
    <div class="form-field">
      <label class="form-label">Mật khẩu</label>
      <div class="form-control">
        <input
          (focus)="clearErrors()"
          placeholder="************"
          type="password"
          formControlName="password"
          class="input-ghost-primary input max-w-full"
        />
      </div>
    </div>

    <label *ngIf="errors && errors.statusCode === 401" class="form-label">
      <span class="form-label-alt text-rose-500"
        >Email hoặc mật khẩu không đúng.</span
      >
    </label>

    <div class="form-field pt-5">
      <div class="form-control justify-between">
        <button
          [disabled]="!authForm.valid"
          type="submit"
          class="absolute-center btn-primary btn w-full"
        >
          Đăng nhập
        </button>
      </div>
    </div>
  </form>
</div>
