<h1 class="my-4 text-xl">Chỉnh sửa thương hiệu</h1>

<form [formGroup]="brandFm" (ngSubmit)="submitForm()" class="space-y-4">
  <div class="flex w-full flex-col">
    <label class="mb-2" for="name">Tên thương hiệu</label>
    <input
      class="input-ghost-primary input input-solid"
      placeholder="Tên kho..."
      type="text"
      formControlName="name"
      id="name"
    />
  </div>

  <div class="mt-4">
    <button
      [disabled]="!brandFm.valid"
      type="submit"
      class="btn-primary btn w-fit rounded-lg"
    >
      Lưu
    </button>
  </div>
</form>
