<ng-content />
<div class="modal">
  <label class="modal-overlay" [for]="index"></label>
  <div class="modal-content flex min-h-[15rem] min-w-[20rem] flex-col gap-5">
    <label
      [for]="index"
      class="btn-sm btn-circle btn-ghost btn absolute right-2 top-2"
      >✕</label
    >
    <h2 class="text-xl">Xác nhận xoá?</h2>

    <div class="mt-auto flex gap-3">
      <label
        class="btn-error btn-block btn"
        [for]="index"
        (click)="handleConfirm()"
      >
        Xoá
      </label>

      <label [for]="index" class="btn-block btn">Huỷ</label>
    </div>
  </div>
</div>
