<h1 class="my-4 text-xl">Phân quyền nhân viên</h1>

<form class="space-y-4">
  <div class="flex w-full flex-col">
    <label class="mb-2" for="name">ID nhân viên</label>
    <input
      class="input-ghost-primary input input-solid"
      placeholder="Id..."
      type="text"
      id="id"
    />
  </div>

  <div class="w-ful flex flex-col">
    <label class="mb-2" for="">Vai trò: </label>
    <select class="select-ghost-primary select">
      <option>Option 1</option>
      <option>Option 2</option>
      <option>Option 3</option>
    </select>
  </div>

  <div class="w-ful flex flex-col">
    <label class="mb-2" for="">Quyền: </label>
    <select class="select-ghost-primary select">
      <option>Option 1</option>
      <option>Option 2</option>
      <option>Option 3</option>
    </select>
  </div>

  <div class="mt-4">
    <button type="button" class="btn-primary btn w-fit rounded-lg">Lưu</button>
  </div>
</form>
