<h1 class="my-4 text-xl">Thêm sản phẩm</h1>

<form [formGroup]="productForm" (ngSubmit)="submitForm()" class="space-y-4">
  <div class="flex w-full flex-col">
    <label class="mb-2" for="name">Tên sản phẩm</label>
    <input
      class="input-ghost-primary input input-solid"
      placeholder="Tên sản phẩm"
      formControlName="name"
      type="text"
      id="name"
    />
  </div>

  <div class="flex w-full flex-col">
    <label class="mb-2" for="name">Ảnh sản phẩm</label>
    <input
      type="file"
      formControlName="thumbnail"
      class="input-file input-file-primary"
    />
  </div>

  <div class="flex w-full flex-col">
    <label class="mb-2" for="size">Kích thước</label>
    <input
      class="input-ghost-primary input input-solid"
      placeholder="Kích thước"
      formControlName="size"
      type="text"
      id="size"
    />
  </div>

  <div class="flex w-full flex-col">
    <label class="mb-2" for="weight">Trọng lượng</label>
    <input
      class="input-ghost-primary input input-solid"
      placeholder="Trọng lượng"
      formControlName="weight"
      type="number"
      id="weight"
    />
  </div>

  <div class="flex w-full flex-col">
    <label class="mb-2" for="price">Giá sản phẩm</label>
    <input
      class="input-ghost-primary input input-solid"
      placeholder="Giá sản phẩm"
      type="number"
      formControlName="price"
      id="price"
    />
  </div>

  <div class="flex w-full flex-col">
    <label class="mb-2" for="discount">Giảm giá</label>
    <input
      class="input-ghost-primary input input-solid"
      placeholder="Giảm giá %"
      type="number"
      formControlName="discount_percent"
      id="discount"
    />
  </div>

  <div *ngIf="categories && categories.length > 0" class="w-ful flex flex-col">
    <label class="mb-2">Danh mục</label>
    <select formControlName="category" class="select-ghost-primary select">
      <option
        *ngFor="let category of categories; trackBy: trackByFn"
        [value]="category.id"
      >
        {{ category.name }}
      </option>
    </select>
  </div>

  <div class="flex w-full flex-col space-y-4">
    <h3 class="mb-2">Thuộc tính theo</h3>
    <select
      (change)="handleChangeProdType($event)"
      class="select-ghost-primary select"
    >
      <option *ngFor="let prodType of productTypes; trackBy: trackByFn">
        {{ prodType }}
      </option>
    </select>
    <div
      formGroupName="specific_properties"
      class="grid w-full grid-cols-2 gap-4"
    >
      <div
        *ngFor="let selection of productSelections"
        class="flex items-center space-x-2"
      >
        <label class="w-[6rem]">{{ selection.label }}</label>
        <input
          [formControlName]="selection.value"
          class="input-ghost-primary input input-solid"
        />
      </div>
    </div>
  </div>

  <div class="w-ful flex flex-col">
    <label class="mb-2">Nhà cung cấp</label>
    <select class="select-ghost-primary select" formControlName="supplier">
      <option
        *ngFor="let supplier of suppliers; trackBy: trackByFn"
        [value]="supplier.id"
      >
        {{ supplier.name }}
      </option>
    </select>
  </div>

  <div class="w-ful flex flex-col">
    <label class="mb-2">Thương hiệu</label>
    <select class="select-ghost-primary select" formControlName="brand">
      <option
        *ngFor="let brand of brands; trackBy: trackByFn"
        [value]="brand.id"
      >
        {{ brand.name }}
      </option>
    </select>
  </div>

  <div class="flex w-full flex-col">
    <label class="mb-2" for="description">Mô tả</label>
    <textarea
      class="textarea-ghost-primary textarea textarea-solid max-h-48 min-h-[10rem] max-w-2xl"
      placeholder="Mô tả sản phẩm..."
      rows="8"
      id="description"
      formControlName="description"
    ></textarea>
  </div>

  <div class="mt-4">
    <button type="submit" class="btn-primary btn w-fit rounded-lg">Lưu</button>
  </div>
</form>
