/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "/node_modules/modern-normalize/modern-normalize.css";

::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  @apply rounded-2xl bg-gray-400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  text-rendering: optimizeSpeed;
  height: fit-content;
  overflow-x: hidden;
  transition-duration: 250ms;
}
